<?xml version="1.0" encoding="utf-8" standalone="no"?>
<!--suppress ALL -->
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="org.eu.droid_ng.wellbeing.overlay">
    <overlay android:isStatic="true" android:priority="9999" android:targetPackage="android"/>
    <application android:hasCode="false" android:label="Neo Wellbeing overlay"/>
</manifest>
