<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	xmlns:tools="http://schemas.android.com/tools">

	<uses-permission
		android:name="android.permission.SUSPEND_APPS"
		tools:ignore="ProtectedPermissions" />
	<uses-permission android:name="android.permission.WAKE_LOCK" />
	<uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
	<uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
	<uses-permission
		android:name="android.permission.SYSTEM_APPLICATION_OVERLAY"
		tools:ignore="ProtectedPermissions" />
	<uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
	<uses-permission
		android:name="android.permission.PACKAGE_USAGE_STATS"
		tools:ignore="ProtectedPermissions" />
	<uses-permission
		android:name="android.permission.OBSERVE_APP_USAGE"
		tools:ignore="ProtectedPermissions" />
	<uses-permission
		android:name="android.permission.CONTROL_DISPLAY_SATURATION"
		tools:ignore="ProtectedPermissions" />
	<uses-permission
		android:name="android.permission.WRITE_SECURE_SETTINGS"
		tools:ignore="ProtectedPermissions" />
	<uses-permission
		android:name="android.permission.SUBSTITUTE_NOTIFICATION_APP_NAME"
		tools:ignore="ProtectedPermissions" />
	<uses-permission
		android:name="android.permission.ACCESS_INSTANT_APPS"
		tools:ignore="ProtectedPermissions" />
	<uses-permission
		android:name="android.permission.INTERACT_ACROSS_PROFILES"
		tools:ignore="ProtectedPermissions" />
	<uses-permission
		android:name="android.permission.START_ACTIVITIES_FROM_BACKGROUND"
		tools:ignore="ProtectedPermissions" />
	<uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
	<uses-permission
		android:name="android.permission.MODIFY_PHONE_STATE"
		tools:ignore="ProtectedPermissions" />
	<uses-permission
		android:name="android.permission.MODIFY_QUIET_MODE"
		tools:ignore="ProtectedPermissions" />
	<uses-permission
		android:name="android.permission.READ_DREAM_STATE"
		tools:ignore="ProtectedPermissions" />
	<uses-permission
		android:name="android.permission.WRITE_DREAM_STATE"
		tools:ignore="ProtectedPermissions" />
	<uses-permission
		android:name="android.permission.READ_WALLPAPER_INTERNAL"
		tools:ignore="ProtectedPermissions" />
	<uses-permission
		android:name="android.permission.SET_WALLPAPER_COMPONENT"
		tools:ignore="ProtectedPermissions" />
	<uses-permission android:name="android.permission.SET_WALLPAPER" />
	<uses-permission android:name="android.permission.SET_WALLPAPER_DIM_AMOUNT" />
	<uses-permission android:name="android.permission.GET_PACKAGE_SIZE" />
	<uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY" />
	<uses-permission android:name="android.permission.VIBRATE" />
	<uses-permission
		android:name="android.permission.QUERY_ALL_PACKAGES"
		tools:ignore="QueryAllPackagesPermission" />
	<uses-permission
		android:name="android.permission.CONTROL_DISPLAY_COLOR_TRANSFORMS"
		tools:ignore="ProtectedPermissions" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission
		android:name="android.permission.MANAGE_ROLE_HOLDERS"
		tools:ignore="ProtectedPermissions" />
	<uses-permission android:name="android.permission.LAUNCH_MULTI_PANE_SETTINGS_DEEP_LINK" />
	<uses-permission
		android:name="android.permission.REAL_GET_TASKS"
		tools:ignore="ProtectedPermissions" />
	<uses-permission
		android:name="android.permission.START_TASKS_FROM_RECENTS"
		tools:ignore="ProtectedPermissions" />
	<uses-permission
		android:name="android.permission.MODIFY_DAY_NIGHT_MODE"
		tools:ignore="ProtectedPermissions" />
	<uses-permission android:name="android.permission.ACCESS_AMBIENT_CONTEXT_EVENT" />
	<uses-permission android:name="android.permission.START_CROSS_PROFILE_ACTIVITIES" />

	<application
		android:allowBackup="false"
		android:dataExtractionRules="@xml/data_extraction_rules"
		android:fullBackupContent="@xml/backup_rules"
		android:icon="@mipmap/ic_launcher"
		android:label="@string/app_name"
		android:roundIcon="@mipmap/ic_launcher_round"
		android:supportsRtl="true"
		android:testOnly="false"
		android:theme="@android:style/Theme.DeviceDefault.DayNight"
		tools:targetApi="s">

		<activity
			android:name=".MainActivity"
			android:exported="true"
			android:theme="@style/Theme.AppCompat.DayNight">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />

				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity
			android:name=".FocusModeActivity"
			android:exported="false"
			android:theme="@style/Theme.AppCompat.DayNight" />
		<activity
			android:name=".ManualSuspendActivity"
			android:exported="false"
			android:theme="@style/Theme.AppCompat.DayNight" />
		<activity
			android:name=".SettingsActivity"
			android:exported="false"
			android:label="@string/title_activity_settings"
			android:theme="@style/Theme.AppCompat.DayNight" />
		<activity
			android:name=".BedtimeMode"
			android:exported="false"
			android:theme="@style/Theme.AppCompat.DayNight" />
		<activity
			android:name=".AppTimers"
			android:exported="false"
			android:theme="@style/Theme.AppCompat.DayNight" />
		<activity
			android:name=".ScheduleActivity"
			android:exported="false"
			android:theme="@style/Theme.AppCompat.DayNight" /> <!-- Runtime UI -->
		<!-- to-do: On A13, implement com.google.android.apps.wellbeing.action.ACTION_WIND_DOWN_STATE_CHANGED -->
		<activity
			android:name=".ShowSuspendedAppDetails"
			android:excludeFromRecents="true"
			android:exported="true"
			android:permission="android.permission.SEND_SHOW_SUSPENDED_APP_DETAILS"
			android:taskAffinity="">
			<intent-filter>
				<action android:name="android.intent.action.SHOW_SUSPENDED_APP_DETAILS" />

				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>
		<activity
			android:name=".TakeBreakDialogActivity"
			android:excludeFromRecents="true"
			android:exported="false"
			android:label="@string/focus_mode_break"
			android:taskAffinity="" />

		<receiver
			android:name=".ManuallyUnsuspendBroadcastReciever"
			android:enabled="true"
			android:exported="true">
			<intent-filter>
				<action android:name="android.intent.action.PACKAGE_UNSUSPENDED_MANUALLY" />

				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</receiver>
		<receiver
			android:name=".BootReciever"
			android:enabled="true"
			android:exported="true">
			<intent-filter>
				<action android:name="android.intent.action.BOOT_COMPLETED"/>
			</intent-filter>
		</receiver>
		<receiver
			android:name=".AppTimersBroadcastReciever"
			android:enabled="true"
			android:exported="false" />
		<receiver
			android:name=".NotificationBroadcastReciever"
			android:enabled="true"
			android:exported="false" />

		<service
			android:name=".lib.WellbeingStateHost"
			android:enabled="true"
			android:exported="false" />
	</application>

</manifest>